<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Internal Server Error</title>
</head>
<body>
<<<<<<< HEAD
    <h1>500 - Internal Server Error</h1>
=======
    <h1>500 - Internal Server Error !</h1>
>>>>>>> 09784b9c487dad769e3432d3b5af52e759fbae3f
    <p>Oops! Something went wrong on the server.</p>
    <a href="/">Go back to Home</a>
</body>
</html>
