<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/books">My books</a></li>
      <li><a href="/books/all">All books</a></li>
      <li><a href="/home">Back home</a></li>
    </ul>
  </nav>

  <main>
    <%- body %>
  </main>
</body>
</html>
